</section>
<section class="pt-5">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <!-- sidebar -->
            <div class="column is-3-desktop is-12-tablet">
                <ul class="sidenav">
                    <li title="Basic Startup" class="sidelist parent active">
                        <a href="/bbc">BBC News</a>
                        <ul>
                            <% let uniqueAuthors = []; %>
                            <% bbc.forEach((article) => {
                                if (!uniqueAuthors.includes(article.author)) {
                                    uniqueAuthors.push(article.author);
                            %>
                            <li class="sidelist">
                                <a href="/bbc/<%= encodeURIComponent(article.author) %>">
                                    <%= article.author %>
                                </a>
                            </li>
                            <% }
                            }); %>
                        </ul>
                    </li>
                    <li title="bitcoin" class="sidelist">
                        <a href="/bbc">BBC News</a>
                    </li>
                    <li class="sidelist">
                        <a href="/apple">Apple</a>
                    </li>
                    <li class="sidelist">
                        <a href="/business">Business</a>
                    </li>
                    <li class="sidelist">
                        <a href="/techCrunch">TechCrunch</a>
                    </li>
                    <li class="sidelist">
                        <a href="/wallStreet">Wall Street Journal</a>
                    </li>
                    <li class="sidelist">
                        <a href="/tesla">Tesla</a>
                    </li>
                    <li class="sidelist">
                        <a href="/bitcoin">Bitcoin</a>
                    </li>
                    <li class="sidelist">
                        <a href="/trump">Trump</a>
                    </li>
                    <li class="sidelist">
                        <a href="/us">US News</a>
                    </li>
                    <li class="sidelist">
                        <a href="/sources">Sources</a>
                    </li>
                </ul>
            </div>

            <div class="column is-8-desktop is-12-tablet">
                <div class="content mt-2">
                    <h2 class="mb-4 has-text-weight-medium">Top Headlinesfrom BBC News</h2>
                    <hr>
                    <% for (let i = 0; i < bbc.length; i++) { %>
                    <% const bbcNews = bbc[i]; %>
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title"><%= bbcNews.title %></h2>
                            <div class="card-image">
                                <img src="<%= bbcNews.urlToImage %>">
                            </div>
                            <p class="card-text">
                                <%= bbcNews.description %>
                            </p>
                            <a href="<%= bbcNews.url %>" class="card-link">Read More</a>
                            <hr>
                            <form action="/savedArticles/add" method="POST">
                                <input type="hidden" name="title" value="<%= bbcNews.title %>">
                                <input type="hidden" name="author" value="<%= bbcNews.author %>">
                                <input type="hidden" name="content" value="<%= bbcNews.content %>">
                                <input type="hidden" name="description" value="<%= bbcNews.description %>">
                                <input type="hidden" name="publishedAt" value="<%= bbcNews.publishedAt %>">
                                <button type="submit" class="button is-black">Save</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>