</section>
<br>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-card-4 z-depth-3">
                    <div class="card">
                        <div class="card-body text-center rounded-top">
                            <form method="POST" action="/profile/edit">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="name" value="<%= user.name %>"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="email" value="<%= user.email %>"
                                            placeholder="Email">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="file">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="address"
                                            value="<%= user.address %>" placeholder="Address">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-6">
                                        <input class="form-control" type="text" value="<%= user.city %>"
                                            placeholder="City">
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" value="<%= user.state %>"
                                            placeholder="State">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="password" value="<%= user.password %>"
                                            placeholder="Password">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="password" value=""
                                            placeholder="Confirm Password">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <a href="/profile" class="btn btn-secondary">Cancel</a>
                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<br>