</section>
<section class="pt-6">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <!-- sidebar -->
            <div class="column is-3-desktop is-12-tablet">
                <ul class="sidenav">
                    <li title="Basic Startup" class="sidelist parent active">
                        <a href="/sources">Tesla</a>
                        <ul>
                            <% let uniqueNames = []; %>
                            <% sources.forEach((article) => {
                              if (!uniqueNames.includes(article.name)) {
                                uniqueNames.push(article.name);
                            %>
                            <li class="sidelist">
                                <a href="/sources/<%= encodeURIComponent(article.name) %>">
                                    <%= article.name %>
                                </a>
                            </li>
                            <% }
                            }); %>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- body -->
            <div class="column is-8-desktop is-12-tablet">
                <div class="px-4">
                    <h2 class="mb-4 has-text-weight-medium">All articles published by the Wall Street Journal</h2>
                    <div class="content">
                        <hr>
                        <div class="card-content">
                            <h2 class="card-title"><%= source.name %></h2>
                            <p class="card-text">
                                Description: <%= source.description %><br>
                                URL: <%= source.url %><br>
                                Category: <%= source.category %><br>
                                Language: <%= source.language %><br>
                                Country: <%= source.country %><br>
                            </p>
                            <a href="<%= source.url %>" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>